.listview {
    height: 39vh;
    width: 68vw;
    display: flex;
    flex-direction: row;
    border: 1px black;
    padding: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    margin-bottom: 3.5vh;
    border-radius: 5px;
}

.image{
    height: 39vh;
    width: 25vw;
}
.content{
    display: flex;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    flex-direction: column;
}
.icon-size {
    font-size: 20px !important;
    color: #576574
}
.dislike {
    display: flex;
    justify-content: space-between;
}
.heading{
    font-size: 22px;
    line-height: 27px;
    color: #44444d;
    font-weight: 400;
    margin-bottom: 2vh;
}
.Description{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 3vh;
    margin-top: 1vh;
}
.readMore {
    font-size: 13px;
    font-weight: 400;
    width: 26vw;
}
.tittle-icon{
    display:inline-flex;
}
.m-t {
    margin-top: 6px;
    margin-left: 5px;
}
@media (min-width: 1024px) { 
    .listview{
        height: 37vh;
    }
    .image{
        height: 37vh;
    }
}
@media (min-width: 1440px){
    .listview{
        height: 27vh;
    }
    .image{
        height: 27vh;
    }
}
@media only screen and (min-width: 1024px) and (height: 1366px)  {
    .listview{
        height: 24vh;
        width: 70vw
    }
    .image{
        height: 24vh;
        width: 30vw
    }
}
@media (max-width:768px){
    .listview{
        flex-direction: column;
        height: 54vh;
        width: 85vw
    }
    .image{
        height: 30vh;
        width: 85vw
    }
    .content{
        padding-top: 2vh;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 2vh;
    }
    .Description{
        margin-top: 1vh;
    }
}
@media (max-width:414px){
    .listview{
        flex-direction: column;
        height: 82vh;
        width: 87vw
    }
    .image{
        height: 32vh;
        width: 87vw
    }
}
@media ( max-width:375px ) and (max-height: 667px) {
    .listview{
        flex-direction: column;
        height: 88vh;
        width: 87vw
    }
    .image{
        height: 32vh;
        width: 87vw
    }
}